/* Contact.css */

/* Aumenta el margen superior para crear separación desde el header */
#contact {
    margin-top: 1cm; /* Espacio de 1 cm entre el header y la sección Contact */
    display: flex;
    justify-content: center;
  }
  
  .contact-container {
    background-color: #ffffff; /* Blanco */
    padding: 40px;
    max-width: 1200px; /* Mayor ancho para el contenedor */
    width: 100%; /* Asegura que use el 100% del ancho disponible */
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }
  
  .contact-inner {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .contact-title {
    font-size: 2.4rem;
    color: #2C3E50; /* Gris oscuro */
    margin-bottom: 20px;
    text-align: center;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .contact-form-group {
    display: flex;
    flex-direction: column;
  }
  
  .contact-label {
    font-size: 1.1rem;
    color: #2C3E50; /* Gris oscuro */
    margin-bottom: 8px;
  }
  
  .contact-input, .contact-textarea {
    font-size: 1rem;
    padding: 15px;
    border: 1px solid #BDC3C7; /* Gris claro */
    border-radius: 8px;
    background-color: #ECF0F1; /* Gris claro */
    color: #2C3E50; /* Gris oscuro */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .contact-textarea {
    resize: vertical;
    min-height: 150px;
  }
  
  .contact-button {
    padding: 12px 25px;
    background-color: #F39C12; /* Amarillo mostaza */
    color: #FFFFFF; /* Blanco */
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    align-self: center;
  }
  
  .contact-button:hover {
    background-color: #e67e22; /* Naranja más oscuro como alternativa para el hover */
    transform: translateY(-3px); /* Efecto de elevación */
  }
  